[submodule "3rdparty/quazip"]
	path = 3rdparty/quazip
	url = https://github.com/stachenov/quazip.git
	branch = master
[submodule "3rdparty/sqlite_orm"]
	path = 3rdparty/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
	branch = master
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = https://github.com/janbar/openssl-cmake
	branch = cfc6806d13b998acf93ad30b1030a065af0adfe0
	
