[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = https://github.com/janbar/openssl-cmake
	branch = 1.1.1g-20200510
[submodule "3rdparty/quazip"]
	path = 3rdparty/quazip
	url = https://github.com/stachenov/quazip
	branch = v1.1
[submodule "3rdparty/sqlite_orm"]
	path = 3rdparty/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm
	branch = 1.6
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = https://github.com/curl/curl.git
	branch = curl-7_78_0
#[submodule "3rdparty/boost"]
#	path = 3rdparty/boost
#	url = https://github.com/boostorg/boost.git
#	branch = boost-1.73.0
	
